<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="bird icon" href="{{ url_for ('static', filename='Visualizations/bird-icon.png') }}"/>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Bird Sound | Findings </title>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='findings.css') }}">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <div class="navigation-bar">
        <div id="navigation-container">
          <img src="{{ url_for('static', filename='Visualizations/bird-icon-small.png') }}">   
            <ul>
              <li><a href="/#">Home</a></li>
              <li><a href="/Findings">Findings</a></li>
              <li><a href="/Sound">Sound</a></li>
              <li><a href="/Teams">Meet The Team</a></li>
            </ul>

          

        <br>
        <h1> <strong>Findings </strong></h1>
        <br>


        <!-- process workflow     -->
        <div class="w3-container">
            <div class="row2">
                <div class="col-sm-12" align="center">
                    <h2><strong> Process: </strong></h2>
                    <p><strong> </strong></p>
                    <img src="{{ url_for('static', filename='Visualizations/workflow.jpg') }}" > 
                </div>  
            </div>             
        </div>
        <br>
        <br>
 
        <!-- onclick graphics -->
        <div class="w3-container" align="center">
            <h2><strong>Results: </strong></h2>
            <p>Click on the images to enlarge.</p>
        </div>
          
          <div class="w3-row-padding">
            <div class="w3-container w3-third">
              <img src="{{ url_for('static', filename='Visualizations/model_layers_create.png') }}" style="width:100%;cursor:pointer" 
              onclick="onClick(this)" class="w3-hover-opacity">
            </div>

            <div class="w3-container w3-third">
              <img src="{{ url_for('static', filename='Visualizations/model_summary.png') }}" style="width:100%;cursor:pointer" 
              onclick="onClick(this)" class="w3-hover-opacity">
            </div>
            <div class="w3-container w3-third">
              <img src="{{ url_for('static', filename='Visualizations/validation_results.png') }}" style="width:100%;cursor:pointer" 
              onclick="onClick(this)" class="w3-hover-opacity">
            </div>

          </div>
          
          <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
            <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
            <div class="w3-modal-content w3-animate-zoom">
              <img id="img01" style="width:100%">
            </div>
          </div>
          
          <script>
          function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
          }
          </script>




        <!-- Tableau graphics -->
        <div class="w3-container" align="center">
            <h2><strong>Graphics: </strong></h2>
            <p>Click on the images to enlarge.</p>
        </div>
          
          <div class="w3-row-padding">
            <div class="w3-container w2-second">
              <img src="{{ url_for('static', filename='Visualizations/percent_correct_by_bird.png') }}" style="width:100%;cursor:pointer" 
              onclick="onClick(this)" >
            </div>

            <div class="w3-container w2-second">
              <img src="{{ url_for('static', filename='Visualizations/total_samples_and_correct_predictions.png') }}" style="width:100%;cursor:pointer" 
              onclick="onClick(this)" >
            </div>
        </div>
        
        <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
            <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
            <div class="w3-modal-content w3-animate-zoom">
              <img id="img01" style="width:100%">
            </div>
        </div>
          
          <script>
          function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
          }
          </script>
          <br>
          <br>


        <!-- Tableau Bubbles -->
        <div class="w3-container" align="center">
            <h2><strong>Top 5 & Bottom 5 Predictions: </strong></h2>
            <p>Click on the images to enlarge.</p>
        </div>
          
          <div class="w3-row-padding">
            <div class="w3-container w2-second">
              <img src="{{ url_for('static', filename='Visualizations/top_5_most_accurate.png') }}" style="width:100%;cursor:pointer" 
              onclick="onClick(this)" >
            </div>

            <div class="w3-container w2-second">
              <img src="{{ url_for('static', filename='Visualizations/bottom_5_most_accurate.png') }}" style="width:100%;cursor:pointer" 
              onclick="onClick(this)" >
            </div>
        </div>
        
        <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
            <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
            <div class="w3-modal-content w3-animate-zoom">
              <img id="img01" style="width:100%">
            </div>
        </div>
          
          <script>
          function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
          }
          </script>
          <br>
    
        <!-- Challenges -->
        <div class="w3-container">
            <div class="row2">
                <div id="challenges" class="col-sm-12" align="center">
                    <h2><strong> Challenges: </strong></h2>
                    
                    <img src="{{ url_for('static', filename='Visualizations/challenge_icon.png') }}" >
                    <h3><strong> 1. Unwanted noise <br><br>
                        2. Sound Event Detection & Implementation into model <br><br>
                        3. Future Implementation </strong><br><br><br>
                    
                    </h3>
                    
                </div>  
            </div>             
        </div>




    </div>
</body>
</html>