<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="bird icon" href="Visualizations/bird-icon.png"/> -->
    <link rel="bird icon" href="{{ url_for ('static', filename='Visualizations/bird-icon.png') }}"/>
    <!-- <img src="{{ url_for('static', filename='Visualizations/bird-icon-small.png') }}">  -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <title>Bird Sound | Home </title>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='d3Style.css') }}">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <style>
      @import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);
      body {font-family: "Source Code Pro", Consolas, monaco, monospace; line-height: 160%; font-size: 16px;  margin: 0; }
      path.link {
        fill: none;
        stroke-width: 2px;
      }
      .node:not(:hover) .nodetext {
        display: none;
      }
      h1 { font-size: 38px; font-family: Arial, Helvetica, sans-serif; color:skyblue; margin: 10px 0; text-transform: uppercase; font-weight:thick;}
      h2, h3 { font-size: 18px; font-family: Arial, Helvetica, sans-serif; color:skyblue; margin: 5px 0 ; font-weight: normal;}
      header {padding: 20px; position: absolute; top: 0; left: 0;}
      a:link { color: #cbdef3; text-decoration: none;}
      a:visited { color: #cbdef3; }
      a:hover { color: #A4CD39; text-decoration: underline;}
      a:active { color: #cbdef3; }
    </style>
</head>
    

<body>
    <div class="navigation-bar">
        <div id="navigation-container">
          <img src="{{ url_for('static', filename='Visualizations/bird-icon-small.png') }}">  
            <ul>
                <li><a href="/#">Home</a></li>
                <li><a href="/Findings">Findings</a></li>
                <li><a href="/Sound">Sound</a></li>
                <li><a href="/Teams">Meet The Team</a></li>
                <li><a href="#"></a></li>
            </ul>
        
            
            <div class="col-sm-12" align="center" color:skyblue <h1><strong>Do you hear the birds chirping outside your window?</strong> </h1> <br><br> <h2><strong>Click on a bird to hear it's call ♫</strong></h2> <h3> </h3>   
                    
                <header>
                              
                </header>
                        
        
                
            </div>
    
            <div class="container">
                <div class="row">
                    <div class="col-sm-2"> 
                        <!-- <header>
                        <h1>Bird Sound Recognition</h1>
                        <h2>Hover to view </h2>
                        <h3> </h3>
                        </header> -->


                    </div>
                
                </div>              
                <!-- container for force layout visualisation  -->
                <div class="col-sm-12" align="center">
                    <section id="vis"  align="center" > </section> 

                </div>
                    
                <div class="col-sm-2">
                </div>

                <br>
                                  
                

            </div>

        </div>
    </div>

<audio id="audio" src="http://dev.interactive-creation-works.net/1/1.ogg"></audio>    
    
<script>

//d3 image color and size
// some colour variables
  var tcBlack = "#989898";

// rest of vars
var w = 775,
    h = 700,
    maxNodeSize = 50,
    x_browser = 20,
    y_browser = 25,
    root;
 
var vis;
var force = d3.layout.force(); 

vis = d3.select("#vis").append("svg").attr("width", w).attr("height", h);
 
d3.json("{{ url_for('static', filename='marvel.json') }}", function(json) {
 
  root = json;
  root.fixed = true;
  root.x = w / 2;
  root.y = h / 4;
 
 
        // Build the path
  var defs = vis.insert("svg:defs")
      .data(["end"]);
 
 
  defs.enter().append("svg:path")
      .attr("d", "M0,-5L10,0L0,5");
 
     update();
});
 
 
/**
 *   
 */
function update() {
  var nodes = flatten(root),
      links = d3.layout.tree().links(nodes);
 
  // Restart the force layout.
  force.nodes(nodes)
        .links(links)
        .gravity(0.05)
    .charge(-1500)
    .linkDistance(100)
    .friction(0.5)
    .linkStrength(function(l, i) {return 1; })
    .size([w, h])
    .on("tick", tick)
        .start();
 
   var path = vis.selectAll("path.link")
      .data(links, function(d) { return d.target.id; });
 
    path.enter().insert("svg:path")
      .attr("class", "link")
      // .attr("marker-end", "url(#end)")
      .style("stroke", "#eee");
 
 
  // Exit any old paths.
  path.exit().remove();
 
 
 
  // Update the nodes
  var node = vis.selectAll("g.node")
      .data(nodes, function(d) { return d.id; });
 
 
  // Enter any new nodes
  var nodeEnter = node.enter().append("svg:g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
      .on("click", click)
      .call(force.drag);
 
  // Append a circle
  nodeEnter.append("svg:circle")
      //.attr("r", function(d) { return Math.sqrt(d.size) / 10 || 4.5; })
      .style("fill", "#eee");
 
   
  // Append images
  var images = nodeEnter.append("svg:image")
        .attr("xlink:href",  function(d) { return d.img;})
        .attr("x", function(d) { return -25;})
        .attr("y", function(d) { return -25;})
        .attr("height", 90)
        .attr("width", 90);
  
  // make the image grow a little on mouse over and add the text details on click
  var setEvents = images
          // Append on Click
          .on( 'click', function (d) {
              d3.select("h1").html(d.hero); 
              d3.select("h2").html(d.name); 
              d3.select("h3").html ("Take me to learn more about ⇢ " + "<a href='" + d.link + "' >"  + d.hero + " "+ "<strong></a></strong>" + "<i class='fas fa-volume-up' style='font-size:24px'></i>"); 
              //Audio portion:
              document.getElementById("audio").src = d.audio;
              var audio = document.getElementById("audio");
                audio.play();
              console.log(d.audio);
           })

          .on( 'mouseenter', function() {
            // select element in current context
            d3.select( this )
              .transition()
              .attr("x", function(d) { return -60;})
              .attr("y", function(d) { return -60;})
              .attr("height", 100)
              .attr("width", 100);
          })
          // set back
          .on( 'mouseleave', function() {
            d3.select( this )
              .transition()
              .attr("x", function(d) { return -25;})
              .attr("y", function(d) { return -25;})
              .attr("height", 70)
              .attr("width", 70);
          });

  // Append hero name on roll over next to the node as well
  nodeEnter.append("text")
      .attr("class", "nodetext")
      .attr("x", x_browser)
      .attr("y", y_browser +15)
      .attr("fill", tcBlack)
      .text(function(d) { return d.hero; });
 
 
  // Exit any old nodes.
  node.exit().remove();
 
 
  // Re-select for update.
  path = vis.selectAll("path.link");
  node = vis.selectAll("g.node");
 
function tick() {
 
 
    path.attr("d", function(d) {
 
     var dx = d.target.x - d.source.x,
           dy = d.target.y - d.source.y,
           dr = Math.sqrt(dx * dx + dy * dy);
           return   "M" + d.source.x + "," 
            + d.source.y 
            + "A" + dr + "," 
            + dr + " 0 0,1 " 
            + d.target.x + "," 
            + d.target.y;
  });
    node.attr("transform", nodeTransform);    
  }
}

 
/**
 * Gives the coordinates of the border for keeping the nodes inside a frame
 * http://bl.ocks.org/mbostock/1129492
 */ 
function nodeTransform(d) {
  d.x =  Math.max(maxNodeSize, Math.min(w - (d.imgwidth/2 || 16), d.x));
    d.y =  Math.max(maxNodeSize, Math.min(h - (d.imgheight/2 || 16), d.y));
    return "translate(" + d.x + "," + d.y + ")";
   }
 
/**
 * Toggle children on click.
 */ 
function click(d) {
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
 
  update();
}
 
 
/**
 * Returns a list of all nodes under the root.
 */ 
function flatten(root) {
  var nodes = []; 
  var i = 0;
 
  function recurse(node) {
    if (node.children) 
      node.children.forEach(recurse);
    if (!node.id) 
      node.id = ++i;
    nodes.push(node);
  }
 
  recurse(root);
  return nodes;
} 
  
</script>
<br>



<div class="container">
    <div class="row">
        <div class="col-sm-12" align="center">
            
                <p><strong>Identify Bird Calls Using Machine Learning </strong> <i class="fas fa-lightbulb"></i></p>
                
                <h4> <strong>Why Birds? </strong> </h4>
                <h2>
                Availability of audio data and uniqueness of birds by species. <br> <br>    
                Birds are excellent indicators of deteriorating habitat quality and environmental pollution.<br>
                However, it’s often easier to hear birds than see them. With proper sound detection and <br>
                classification, researchers could automatically intuit factors about an area’s quality of life<br>
                based on a changing bird population.</h2>

                
                <h4> <strong>Our Objective: </strong></h4>

                <h2>Transforming audio data into image file and running machine learning model. <br>
                </h2>
                <br>
                
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12" align="center">
            <!-- main heading for next section -->
                <p><strong>Behind The Bird Call </strong> <i class="fas fa-crow"></i></p>
        </div>
    </div>



    <div  class="row">
        <div class="col-md-4 three_text">
            
            <div align="center">
                <h2 class="white_heading"> 
                    <strong>Birds Sing To Defend & Impress </strong><span>&#128737;</span>
                    
                </h2>
                <br>
                <img id="defense_bird" src="{{ url_for('static', filename='Visualizations/defense.jpg') }}" >
                <div align="left">
                    <p> 
                        <ul type="disc"> <span>&#9900</span> Evidence suggests that in part, it is to proclaim and 
                            defend their territories.</ul> 

                        <ul type="disc"> <span>&#9900</span> Studies have also shown that songs play a crucial
                        role in attracting and impressing potential mates and 
                        may signal the overall health of the singer.</ul>

                        <ul type="disc"><span>&#9900</span> As in humans, singing in birds is often a chance to show off.</ul>
                        
                        </p>
                </div>

            </div>
                    
                                    
        </div>

        <div class="col-md-4 three_text" color="skyblue">

            <div align="center">
                <h2 class="white_heading" ><strong>Why Do Birds Sing At Dawn? </strong><span>&#9728;</span>
                </h2>
                <br>

                
                <img id="dawn_bird" src="{{ url_for('static', filename='Visualizations/bird_dawn.jpg') }}" >
                <div align="left">
                        <p>     
                        <ul type="disc"> <span>&#9900</span> The prevailing theory was that those 
                        early hours are typically the coolest and driest hours 
                        of the day which allowed bird songs to travel the
                        farthest, giving their voices better range. </ul>
                        
                        <ul type="disc"> <span>&#9900</span> It’s sending a message to other males that they should 
                        stay away and the farther away the better. It was also
                        assumed that females could be attracted from farther distances.</ul>


                        <ul type="disc"> <span>&#9900</span> It is thought that the better you can sing during 
                        the most challenging time of the day, the better mate and more challenging competitor
                        you will be. </ul>
                        </p>
                </div>
            </div>


        </div>
            

            

        

        <div class="col-md-4 three_text" >

            <div align="center">
            <h2 class="white_heading" align="center"><strong>Hear a Bird Sing? It's Probably a Male </strong><span>&#9794;</span>
            </h2>
            <br>
            
            <img id="male_bird" src="{{ url_for('static', filename='Visualizations/male_bird.jpg') }}" >
            <div align="left">
                <p>
                <ul type="disc"> <span>&#9900</span> Chances are when you hear a bird singing it’s a male. </ul>
                    
                <ul type="disc"> <span>&#9900</span> The majority of female songbirds
                in temperate zones use shorter, simpler calls while the males produce the longer and
                more complex vocalizations we think of as song.</ul>
                </p><br>
            </div>

            </div>
            
        </div>


    </div>

    <div class="row">
        <div class="col-sm-12" align="center">
            <!-- sources -->
            <h6>Sources:<br>
                https://academy.allaboutbirds.org/birdsong/<br>
                https://www.wbu.com/birds-sing-early-morning/<br>
            </h6> 
            <br> 
        </div>
    </div>
    

</div>




</body>
</html>